################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/vs2022/coro01/.vs/coro01/v17/Preview
/src/vs2022/coro01/.vs/coro01/v17
/src/vs2022/coro01/coro_ex01/x64/Debug
/src/vs2022/coro01/x64/Debug
